head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/socket.io/socket.io.js",type="text/javascript")
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js",type="text/javascript")
  script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js",type="text/javascript")
  script(type="text/javascript")

    var socket = io.connect();
    function submit(){
      var message = "bang!";
      socket.emit("msg", {message : message});
      console.log("ふいてる");
    }


body
  div(class="wrapper")

    div(class="output")
    div(class="wrapper-inner")

      div(class="iframe")
      div(class="text")
        div(class="title-logo")
        p ※ Ustreamの通信状況により遅延が生じる場合がございます。 
          h1= portNum
        p 画面に向かって息を吹きかけると風車が回ります。
        p ※ 対応ブラウザ：Google Chrome(ver.26以上)のみ。 
        p もしブラウザ対象外の場合はこちらのボタンをお使いください… 
          button(id="button") 風を起こせるボタン
        p ※ choromeの場合、 chrome://flags/  から「ウェブ音声入力」を有効にしてください。
        p ※ ブラウザの上部に「マイクへのアクセスを求めています」と表示されたら、<br>許可をクリックしてください。
      div(class="text")
        

      script(type="text/javascript")
        // debug用
        $("#button").bind("click", function() {
          submit();
        });
        

